__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_odin/
*.egg-info/

node_modules/
.npm

dist/
electron/dist/
electron/python-dist/

.odin_index/*.csv
.odin_index/*structured_index*.csv

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
npm-debug.log*

pids
*.pid
*.seed
*.lock

*.txt

gui_qt.py

github push.md
